<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @line_items.each do |line_item| %>
                            <% cycle = line_item.store %>
                            <tr data-line-item-id="<%= line_item.id %>">
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <%= image_tag cycle.store_image, height: "100", width: "150" if cycle.store_image.attached? %><br />
                                        </div>
                                        <div class="media-body">
                                            <p><%= cycle.name %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><%= cycle.price %></h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" class="input-text qty" data-line-item-id="<%= line_item.id %>"
                                value="<%= line_item.quantity %>" min="1" title="Quantity:" readonly>
                                        
                                    </div>
                                </td>
                                <td>
                                    <h5><%= line_item.total_price %></h5>
                                    
                                </td>
                                 <td>
                                    <%= link_to 'Edit', edit_line_item_path(line_item) %>
                                </td>
                                <td>
                                  <%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td>

                            </tr>
                        <% end %>

                        <tr>
                        <td colspan="2 "></td>
                            <th>
                                <h4>Subtotal</h4>
                            </th>
                            <th>
                            <% session[:amount] = @line_items.sum(&:total_price) %>
                                <h5><%= @line_items.sum(&:total_price) %></h5>
                            </th>
                            <td colspan="2 "></td>
                        </tr>
                        </tbody>
                        </table>
                              

                                    <div class="checkout_btn_inner d-flex align-items-center">
                                    <div class="buy_bt"><a class="gray_btn" href="/shop/index">Continue Shopping</a></div>
                                        </div>
                                        <div class="checkout_btn_inner d-flex align-items-center">
                                        <% if user_signed_in? %>
<%= link_to "Checkout", gallery_checkout_path %>
<% else %>
<%= link_to "Checkout", new_user_session_path %>
<% end %>
                                        
                                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->