<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Cycle</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- owl stylesheets --> 
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %> 
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header_section header_bg">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a href="index.html" class="logo"><img src="/assets/logo.png"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
           <%= link_to 'Home', gallery_index_path, class: "collapse navbar-collapse nav-link"%>
           </li>
         
           <li class="nav-item">
              <%= link_to 'About', home_about_path,  class: "collapse navbar-collapse nav-link"%>
           </li>
      
           <li class="nav-item">
           <%= link_to 'Shop', shop_index_path,  class: "collapse navbar-collapse nav-link"%>
           </li>
           <li class="nav-item">
              <%= link_to 'News', home_news_path,  class: "collapse navbar-collapse nav-link"%>
           </li>
           <li class="nav-item">
              <%= link_to 'Contact US', home_contact_path,  class: "collapse navbar-collapse nav-link"%>
           </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
           <div class="login_menu">
             <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
             <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
             <% if user_signed_in? %>
             <li class="nav-item">
               <div class="" aria-labelledby="loginDropdown">
               <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
               User Logout
               <% end %>
               </div>
             </li>
           <% else %>
             <li>
               <%= link_to new_user_session_path do %>
               UserLogin 
               <% end %>
             </li>
           <% end %>
           <li class="nav-item ">
								
									<% if session[:admin] %>
                           <div class="" aria-labelledby="loginDropdown">
                           <%= button_to admin_logout_path, method: :get, class: "dropdown-item" do %>
                            Admin Logout
                           <% end %>
									<% else %>
                           <li>
                           <%= link_to admin_login_path do %>
                           Admin Login 
                           <% end %>
                         </li>
									<% end %>
									
							</li>
                     <li>
          <%= link_to line_items_path do %>
            <%= image_tag("trolly-icon.png") %>
          <% end %>
        </li>
        <li>  </li>
                
                 
              </ul>
           </div>
        </div>
     </div>
     <div id="main">
        <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="/assets/toggle-icon.png" style="height: 30px;"></span>
     </div>
  </nav>
  <!-- banner section start -->
  <div class="banner_section layout_padding">
     <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
           <div class="carousel-item active">
              <div class="container">
                 <div class="row">
                    <div class="col-md-7">
                       <div class="best_text">Best</div>
                       <div class="image_1"><img src="/assets/img-1.png"></div>
                    </div>
                    <div class="col-md-5">
                       <h1 class="banner_taital">New Model Cycle</h1>
                       <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                       <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="carousel-item">
              <div class="container">
                 <div class="row">
                    <div class="col-md-7">
                       <div class="best_text">Best</div>
                       <div class="image_1"><img src="/assets/img-1.png"></div>
                    </div>
                    <div class="col-md-5">
                       <h1 class="banner_taital">New Model Cycle</h1>
                       <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                       <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="carousel-item">
              <div class="container">
                 <div class="row">
                    <div class="col-md-7">
                       <div class="best_text">Best</div>
                       <div class="image_1"><img src="/assets/img-1.png"></div>
                    </div>
                    <div class="col-md-5">
                       <h1 class="banner_taital">New Model Cycle</h1>
                       <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                       <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        </a>
     </div>
  </div>
  <!-- banner section end -->
</div>
<!-- header section end -->
<h4>Search</h4>
                <div class="templatemo_right_section_content">
                
                    <%= form_with url: "/gallery/search", method: :post do |form| %>
                        <%= form.label :query, "Search for:" %>
                        <%= form.text_field :keyword %>
                        <%= form.submit "Search" %>
                    <% end %>
                 </div>

  <%= yield %>
  <br><br>
  <!-- footer section start -->
  <div class="footer_section layout_padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-8 col-sm-12 padding_0">
            <div class="map_main">
               <div class="map-responsive">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.547703007889!2d77.31282847529894!3d28.583341575691524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5be0554c3ad%3A0x4d428f0a1250a8f4!2sPrismberry%20Technologies!5e0!3m2!1sen!2sin!4v1690465544238!5m2!1sen!2sin" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-12">
            <div class="call_text"><a href="#"><img src="/assets/map-icon.png"><span class="padding_left_0">Page when looking at its layou</span></a></div>
            <div class="call_text"><a href="#"><img src="/assets/call-icon.png"><span class="padding_left_0">Call Now  +01 123467890</span></a></div>
            <div class="call_text"><a href="#"><img src="/assets/mail-icon.png"><span class="padding_left_0">demo@gmail.com</span></a></div>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="/assets/fb-icon1.png"></a></li>
                  <li><a href="#"><img src="/assets/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="/assets/linkedin-icon.png"></a></li>
                  <li><a href="#"><img src="/assets/instagram-icon.png"></a></li>
               </ul>
            </div>
            <input type="text" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
            <div class="subscribe_bt"><a href="#">Subscribe</a></div>
         </div>
      </div>
   </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
   <div class="container">
      <p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
   </div>
</div>
<!-- copyright section end -->    
    <script src="/assets/jquery.min.js"></script>
      <script src="/assets/popper.min.js"></script>
      <script src="/assets/bootstrap.bundle.min.js"></script>
      <script src="/assets/jquery-3.0.0.min.js"></script>
      <script src="/assets/plugin.js"></script>
      <!-- sidebar -->
      <script src="/assets/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/assets/custom.js"></script>
      <!-- javascript --> 
      <script src="/assets/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="/assets/nav.js"></script>
  </body>
</html>
